<?xml version="1.0"?>
<launch>

    <!-- sim actions for skip door domain (domain_skip_door.pddl) -->

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="navigate" />
        <arg name="action_duration" value="1" />
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="open_door" />
        <arg name="action_duration" value="1" />
    </include>

</launch>
