<?xml version="1.0"?>
<launch>

    <!-- sim actions for robot delivery domain (domain_robot_delivery.pddl) -->

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="goto_waypoint" />
        <arg name="action_duration" value="1" />
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="localise" />
        <arg name="action_duration" value="1" />
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="dock" />
        <arg name="action_duration" value="1" />
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="undock" />
        <arg name="action_duration" value="1" />
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="wait_load_at_machine" />
        <arg name="action_duration" value="1" />
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="switch_machine_on" />
        <arg name="action_duration" value="1" />
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="wait_unload" />
        <arg name="action_duration" value="1" />
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="ditch" />
        <arg name="action_duration" value="1" />
    </include>

</launch>
